:root {
    --bg-color: #fff;
    --text-color: #000;
    --button-bg-color: #ddd;
    --button-text-color: #000;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
  }
  
  body.dark-mode {
    --bg-color: #000;
    --text-color: #fff;
    --button-bg-color: #333;
    --button-text-color: #fff;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px
  }